# If you're running native Linux and your uid:gid isn't 1000:1000 you can set
# these to match your values before you build your image. You can check what
# your uid:gid is by running `id` from your terminal.
UID=MYUID
GID=MYGID

# set user name
MYUSER=MYSELF

COMPOSE_PROJECT_NAME=DOCKER_NAME

# choose the containers you want:

# you can choose between
# - python
# - julia
# - latex

DOCKER_CONTAINERS=BOXES

CODE_DIRECTORY_DEVICE=MYCODE

DISPLAY=HOST_DISPLAY
