/*-- scss:defaults --*/

$body-bg: #001F3F !default;
$body-color: #c9ccd1;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
