
a.github-corner {
  color: var(--r-main-color);
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0.25;
}
a.github-corner:hover {
  color: var(--r-main-color);
  opacity: 0.75;
}

p code {
  background: rgba(0, 68, 68, 0.2);
}

.reveal .code-wrapper, pre, pre code {
  white-space: pre-wrap !important;
}

.reveal .progress {
  display: none !important;
}

.slides a:hover {
  text-decoration: underline;
}

.menubar {
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985), -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -webkit-transform: translateY(calc(-100% - 1px));
      -ms-transform: translateY(calc(-100% - 1px));
          transform: translateY(calc(-100% - 1px));
  color: var(--r-main-color);
  padding-left: 5vw;
  padding-right: 5vw;
  z-index: 2;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: clamp(2vw, var(--r-main-font-size) * var(--simplemenu-scale, 0.75), 5vw);
  line-height: 1;
  background-color: #0d1d29;

}
.menubar * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.menubar.bottom {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.menubar:before, .menubar:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 0vw solid currentColor;

  opacity: 0.3;
}
.menubar:before {
  top: 0;
}
.menubar:after {
  bottom: 0;
}
.menubar.top:before {
  opacity: 0;
}
.menubar.bottom:after {
  opacity: 0;
}
html:not(.print-pdf) body:not(.hide-menubar) .reveal.ready:not(.hide-menubar) .menubar {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
body.hide-menubar .reveal.ready .menubar a {
  -webkit-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.print-pdf .pdf-page:not(.hide-menubar) .menubar {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.menubar a {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menubar a:hover {
  color: #818a9c;
}
.menubar a.logo {
  width: 3vw;
  height: 3vw;
  margin: 0;
  padding: 0.25vw 0.25vw;
}
.menubar a.logo img {
  max-width: 100%;
  max-height: 100%;
  margin: 0.1vw;
}
.menubar > ul {
  -webkit-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  gap: 4vw;
}
.menubar > ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.1vw solid transparent;
  border-bottom: 0.1vw solid transparent;
}
.menubar > ul li:before {
  display: none;
}
.menubar > ul li + li {
  margin: 0;
}
.menubar > ul li.active {
  border-bottom-color: #818a9c;
}
.menubar > ul a {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  color: #818a9c;
  padding-bottom: 0.5vw;
  padding-top: 0.5vw;
}
.menubar > ul a:hover {
  color: #818a9c;
  opacity: 0.75;
}
.menubar > ul li.active a {
  opacity: 1;
  border-bottom-color: #818a9c;
}

.hide-menu .menu, .hide-menu .menu, [data-state=hide-menu] .menu {
  opacity: 0;
}

.reveal .slide-number, .menubar .slide-number {
  background: none;
  font-family: inherit;
  color: inherit;
}
.reveal .slide-number a, .menubar .slide-number a {
  padding: 0;
  opacity: 0.33;
  color: #818a9c;
}
.reveal .slide-number a:hover, .menubar .slide-number a:hover {
  color: currentColor;
  opacity: 0.75;
}

.menubar .slide-number {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 2vw;
  height: 100%;
  right: 0;
  bottom: auto;
  z-index: 0;
  padding: 0;
  padding-right: 1vw;
}

.slides ~ .menubar, .menubar.bottom {
  top: auto;
  bottom: 10vw;
  margin-top: 10vw;
}

.slides ~ .menubar ~ .controls {
  margin-bottom: 4vw;
  margin-top: 5vw;
}

.two-column-layout {
  display: flex;
}
.column {
  flex: 1;
  margin: 0 5vw;
}
.menubar .title {
  padding-left: 0vw; /* Adjust the value to add space between the title and the left edge */
}

#menuimg {
height: 4vw
}

#menuheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 4vw; /* Adjust this value based on your desired height */
  display: flex;
  align-items: center;
}
#menufooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 3vw; /* Adjust this value based on your desired height */
  display: flex;
  align-items: center;
  
}
.container {
  display: flex;
  align-items: center;
  column-gap: 2vw;
}
.slides {
  margin-top: 4vw; /* Set the top margin of the slides in viewport width units */
  padding-top: 4vw; /* Adjust this value to create space for the header bar */
  margin-bottom: 3vw; /* Set the top margin of the slides in viewport width units */
  padding-bottom: 3vw; /* Adjust this value to create space for the header bar */
  position: relative; /* Set the slides to relative positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4vw - 4vw); /* Calculate the height of the slides */
}
.col{
    flex: 1;
}
.slides h2 {
  margin-top: 5.5vw; /* Adjust this value to position the title below the header bar */
  text-align: center; /* Center the title horizontally */
}
.slides section {
  margin-bottom: 3vw; /* Adjust this value to set the desired margin at the bottom of each section */
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
}
